<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectronicJournalApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElectronicJournalApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="path/to/logo.png" alt="Логотип" class="logo"> <!-- Добавить путь к логотипу -->
                <a class="navbar-brand" href="#">
                    Электронный журнал
                </a>
            </div>
            <div class="nav-container">
                <div class="d-flex">
                    @if (Context.Request.Cookies["UserRole"] != "администратор")
                    {
                        <div class="nav-item">
                            <a class="btn btn-custom text-white @(Context.Request.Path.Value.Contains("AttendanceJournal") ? "active" : "")" href="@Url.Action("Index", "AttendanceJournal")">
                                Журнал
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="btn btn-custom text-white @(Context.Request.Path.Value.Contains("Students") ? "active" : "")" href="#">
                                Ученики
                            </a>
                        </div>
                        @if (Context.Request.Cookies["UserRole"] == "руководитель")
                        {
                            <div class="nav-item">
                                <a class="btn btn-custom text-white @(Context.Request.Path.Value.Contains("Subjects") ? "active" : "")" href="@Url.Action("Index", "Subjects")">
                                    Предметы
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="btn btn-custom text-white @(Context.Request.Path.Value.Contains("Schedule") ? "active" : "")" href="@Url.Action("Create", "Schedules")">
                                    Расписание
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="align-item-center justify-item-center">
                <div class="flex justify-end">
                    <div class="relative inline-block text-left">
                        <button class="btn-custom px-4 py-2 rounded-md flex items-center" id="dropdownMenuButton" aria-expanded="true" aria-haspopup="true">
                            <i class="fas fa-user mr-2"></i> @Context.Request.Cookies["UserLogin"]
                        </button>
                        <div class="dropdown-menu-custom absolute mt-2 w-48 rounded-md shadow-lg z-10 hidden" role="menu" aria-orientation="vertical" aria-labelledby="dropdownMenuButton">
                            <div class="py-1" role="none">
                                <a href="#" class="block px-4 py-2 text-sm" role="menuitem">Роль: @Context.Request.Cookies["UserRole"]</a>
                                <div class="border-t border-gray-700"></div>
                                <a href="#" class="block px-4 py-2 text-sm" role="menuitem">Выйти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById('dropdownMenuButton').addEventListener('click', function () {
            var dropdown = this.nextElementSibling;
            dropdown.classList.toggle('hidden');
        });

        document.querySelectorAll('.dropdown-menu-custom a[role="menuitem"]')[1].addEventListener('click', function () {
            // Удаление cookie
            document.cookie = "UserLogin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "UserPassword=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "UserRole=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

            // Переход на страницу авторизации
            window.location.href = '@Url.Action("Authorization", "Users")'; // Укажите правильный путь к странице авторизации
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

